@media (max-width: 830px) {
    .gutter-row {
      padding: 0 !important;
    }
  
    nz-form-label {
      padding: 0 0.5rem !important;
    }
  
    nz-form-control {
      padding: 0 0.5rem !important;
    }
  
    .paddingAdj {
      padding: 0 !important;
    }
  }