<nz-page-header class="site-page-header" [nzTitle]="idForUpdate ? 'Update Report' : 'Add New Report'">
    <nz-page-header-extra>
        <button *ngIf="!editForm" nz-button [nzLoading]="buttonLoading" (click)="draft()" nzType="primary"
            class="btncls">
            Save as Draft
        </button>
        <div *ngIf="showCustomPopOver" class="customPopConfirm customPopOverTop">
            <div class="customPopOverText">
                Are you sure? (Highlighted fields are empty or invalid)
            </div>
            <div class="customPopOverBtns">
                <button (click)="showCustomPopOver = false" class="customPopOverActionBtn">Cancel</button>
                <button (click)="submit()" class="customPopOverActionBtn">Save</button>
            </div>
        </div>
        <button nz-button [nzLoading]="buttonLoading" (click)="highlightInvalidFields()" nzType="primary"
            class="btncls">Save</button>
        <a routerLink="/main">
            <button nz-button [nzLoading]="buttonLoading" class="btncls">Back</button>
        </a>
    </nz-page-header-extra>
</nz-page-header>

HTML_MODULE
    
<div nz-row nzJustify="end" class="btnAdjust">

    <button *ngIf="!editForm" nz-button [nzLoading]="buttonLoading" (click)="draft()" style="margin-right: 12px"
        nzType="primary" class="btncls">
        Save as Draft
    </button>

    <div *ngIf="showCustomPopOver" class="customPopConfirm customPopOverButtom">
        <div class="customPopOverText">
            Are you sure? (Highlighted fields are empty or invalid)
        </div>
        <div class="customPopOverBtns">
            <button (click)="showCustomPopOver = false" class="customPopOverActionBtn">Cancel</button>
            <button (click)="submit(); showCustomPopOver = false" class="customPopOverActionBtn">Save</button>
        </div>
    </div>

    <button nz-button [nzLoading]="buttonLoading" (click)="highlightInvalidFields()" style="margin-right: 12px"
        nzType="primary" class="btncls">Save</button>
    <a routerLink="/main">
        <button nz-button nzType="primary" [nzLoading]="buttonLoading" class="btncls">Back</button>
    </a>
</div>
